/** Styling for headshot - Hero.jsx **/
.headshot {
  width: 150px;
  margin: 2rem 0;
}

.rounded-image {
  border-radius: 50%;
}

img {
  height: auto;
  max-width: 100%;
}

/** Styling for web developer image - Hero.jsx **/
.developer-margin {
  margin-bottom: -1.4rem;
}

@media screen and (min-width: 769px) {
  .headshot {
    width: 210px;
  }
  .developer-margin {
    margin-bottom: -1.725rem;
  }
}

/** Styling for the technologies container - Technologies.jsx **/

.shift-up {
  transform: translateY(-80px);
}

@media screen and (min-width: 1024px) {
  .shift-up {
    transform: translateY(-100px);
  }
}

/** Styling for projects - Projects.jsx **/
.project-grid {
  padding: 2rem 0 4rem;
}

.project-figures {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.project-thumbnail {
  transform: scale(1);
  transition: 0.25s ease-in-out;
}

.project-figcaption {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.project-figcaption:hover {
  opacity: 1;
  background-color: #3e8ed0c2;
}

.project-figures:hover img {
  transform: scale(1.1);
}

/** Footer styling - Footer.jsx **/

.mr-logo {
  width: 80px;
}

.under-logo-text {
  max-width: 300px;
  opacity: 0.8;
}

footer .social-icons a.button {
  border: 2px solid rgba(255, 255, 255, 0.582);
  border-radius: 100%;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .under-logo-text {
    max-width: 320px;
  }
}
/** Contact container styling - Contact.jsx **/
@media screen and (min-width: 769px) {
  .contact-container {
    transform: translateY(-120px);
  }
}
